* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
body {
    background-color: white;
}
header {
    padding: 30px 70px; /*altura e largura*/
    background-color: black;

}
.navigation{
    display: flex;/*colocar um do lado do outro*/
    align-items: center; /*alinhar horizontalmente*/
    justify-content: space-between;/*colocar os itens em cada uma das extremidades*/
}
.navigation .logo {
    width: 180px;
    object-fit: cover;

}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 40px; /*espaçamento entre cada item da navegação*/
}
.navigation ul li a{ /*cada item da barra de navegação*/
    color: rgb(131, 129, 125);
    font-weight: 600; /*grossura da letra*/
    font-size: 13px;
    transition: a li 0.5s; /*tempo para o hover*/
}
.navigation ul li a:hover {
    color: antiquewhite;
    border-bottom: 1px solid antiquewhite; /*a letra fica sublinhada durante o hover*/
}
.section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 10rem; /*espacamento nas laterais e tal*/
    margin-top: 30px;

}
.title {
    font-size: 3rem;
    margin-bottom: 2rem;
    color: rgb(17, 17, 17);
}
.texto p{
    margin-bottom: 1.5rem;
    font-size: 1rem;
    margin-right: 20px;
}
.texto h3 {
    margin-bottom: 2rem;
    color:rgb(80, 73, 67);
}
.btn-comprar {
    padding: 15px 30px;
    background-color: rgb(105, 105, 71);
    border-radius: 25px;
    color: rgb(245, 242, 242);
    font-size: 1rem;
    margin-top: 3rem;
    transition: all 0.5s;
}
.btn-comprar:hover {
    opacity: .85 ; /*vai ficar transparente em 15%*/
}
.cor {
    font-size: 1rem;
    color:rgb(80, 73, 67);
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.cores {
    display: flex;
    align-items: center;
    gap: 10px;
}
.cores span {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer; /*quando passar o mouse vai aparecer a maozinha*/
    box-shadow: 1px 1px rgb(82, 79, 79); /*sombra embaixo do círculo*/
    transition: all 0.5s;
}
.cores span:hover { 
    opacity: .80;
}
#cinza {
    background-color: #acb3c7;
}
#azul {
    background-color: #6073ad ;
}
#verde {
    background-color:#789479;
}
#amarelo {
    background-color:#dbb32e;
}
.main-img {
    transition: all 1s ease;
    z-index: 100; /*passar por cima de tudo*/
}
.main-img img {
    width: 700px;
    height: auto;
    transform: rotate(-7deg);
    border-radius: 20px;
    object-fit: cover;
}
.circle {
    position: absolute; /**/
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(10, 10, 10);
    clip-path: circle(800px at right 1000px);
}

@media (max-width: 1200px) {
    .section {
        flex-direction: column-reverse;
    }

    .circle{
        display: none;
    }
    .main-img{
        margin-bottom: 50px;
    }
}

@media (max-width: 769px) {
    .main-img img {
        width: 400px;
   }
}